<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>QLBanHang</display-name>
	<filter-mapping>
		<filter-name>jdbcFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cookieFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/Admin</url-pattern>
        <url-pattern>/AdminOrder</url-pattern>
		<url-pattern>/AdminOrderDetail</url-pattern>
		<url-pattern>//AdminCategory</url-pattern>
        <url-pattern>/AdminUser</url-pattern>
    </filter-mapping>

	<jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

	<welcome-file-list>
		<welcome-file>Home</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/Error404</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/Error</location>
	</error-page>
</web-app>